[Desktop Entry]
Name=Sakura
GenericName=Terminal
GenericName[af]=Terminaal
GenericName[ar]=طرفيّة
GenericName[as]=টাৰ্মিনেল
GenericName[be@latin]=Terminał
GenericName[bg]=Терминал
GenericName[bn]=টার্মিনাল
GenericName[bn_IN]=টার্মিন্যাল
GenericName[cs]=Terminál
GenericName[el]=Τερματικό
GenericName[eo]=Terminalo
GenericName[eu]=Terminala
GenericName[fi]=Pääteikkuna
GenericName[ga]=Teirminéal
GenericName[gu]=ટર્મિનલ
GenericName[he]=מסוף
GenericName[hi]=टर्मिनल
GenericName[hne]=टर्मिनल
GenericName[hu]=Terminál
GenericName[is]=Skjáhermir
GenericName[it]=Terminale
GenericName[ja]=ターミナル
GenericName[ka]=ტერმინალი
GenericName[kk]=Терминал
GenericName[ko]=터미널
GenericName[ku]=Termînal
GenericName[lt]=Terminalas
GenericName[lv]=Terminālis
GenericName[mai]=टर्मिनल
GenericName[mk]=Терминал
GenericName[ml]=ടെര്മിനല്
GenericName[mr]=टर्मिनल
GenericName[nds]=Konsool
GenericName[or]=ଟର୍ମିନାଲ
GenericName[pa]=ਟਰਮੀਨਲ
GenericName[ru]=Терминал
GenericName[si]=අග්රය
GenericName[sk]=Terminál
GenericName[sr]=Терминал
GenericName[sr@ijekavian]=Терминал
GenericName[ta]=முனையம்
GenericName[tg]=Терминал
GenericName[th]=เทอร์มินัล
GenericName[tr]=Uçbirim
GenericName[ug]=تېرمىنال
GenericName[uk]=Термінал
GenericName[uz@cyrillic]=Терминал
GenericName[wa]=Terminå
GenericName[zh_CN]=终端
GenericName[zh_TW]=終端機
Comment=Use the command line
Comment[ru]=Использовать командную строку
Comment[am]=የትእዛዝ መስመሩን መጠቀሚያ
Comment[bg]=Използване на команден ред
Comment[ca]=Utilitza la línia d'ordres
Comment[cs]=Použít příkazový řádek
Comment[da]=Brug kommandolinjen
Comment[de]=Die Befehlszeile verwenden
Comment[el]=Χρήση της γραμμής εντολών
Comment[eo]=Uzi komandlinion
Comment[es]=Usar la línea de órdenes
Comment[et]=Käsurea kasutamine
Comment[eu]=Erabili komando-lerroa
Comment[fi]=Käytä komentoriviä
Comment[fr]=Utiliser la ligne de commande
Comment[gl]=Usar a liña de ordes
Comment[hi]=कमांड लाइन का प्रयोग करें
Comment[hr]=Koristiti naredbeni redak
Comment[hu]=Parancssor használata
Comment[id]=Gunakan baris perintah
Comment[it]=Usa la riga di comando
Comment[ja]=コマンドラインを利用する
Comment[ko]=명령줄 사용하기
Comment[ms]=Guna baris perintah
Comment[nb]=Bruk kommandolinjen
Comment[nl]=Opdrachtregel gebruiken
Comment[pl]=Umożliwia korzystanie z wiersza poleceń
Comment[pt]=Utilizar a linha de comandos
Comment[pt_BR]=Usar a linha de comando
Comment[ro]=Folosiți linia de comandă
Comment[rue]=Використати командний рядок
Comment[sl]=Uporabi ukazno vrstico
Comment[sr]=Користите командну линију
Comment[sv]=Använd kommandoraden
Comment[sw]=Tumia komand
Comment[tr]=Komut satırını kullan
Comment[uk]=Використати командну лінію
Comment[vi]=Sử dụng dòng lệnh
Comment[zh_CN]=使用命令行
Comment[zh_TW]=使用指令列
TryExec=sakura
Exec=sakura -c 90 -r 29
Icon=terminal-tango
Type=Application
Categories=GTK;Utility;TerminalEmulator;System;
StartupNotify=true
X-Ubuntu-Gettext-Domain=sakura
